body {
  background-color: honeydew;
  text-align: left;
  font-family: "Arial";
  }

header {
  font-style: italic;
  text-align: center;
  border: none;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: dotted underline;
}

.autor, .zdroj, .zanr {
  text-align: center
}

.autor:hover, .zdroj:hover, .zanr:hover {
  font-weight: bold;
}

blockquote {
  font-style: italic;
}

p {
    color: black
    font-weight: normal;
    margin: 20px;
    font-size: 1.1em;
    padding: 5px;
}

i {
  line-height: 200%;
}

footer {
  text-decoration: underline;
  text-transform: uppercase;
}

#soutez, #pytel, #soutez {
  float: center;
  text-align: justify;
  text-justify: 
  inter-word;
}

